$color-primary: rgb(60, 67, 78);
$color-secondary: rgb(40, 48, 56);
$color-accent: steelblue;
$color-text: #fff;
$color-button: rgb(80, 88, 102);
$color-disabled-btn:grey;
$color-correct-answer: rgb(11, 192, 11);
$color-wrong-answer: rgb(206, 8, 8);
$button-shadow: 0 0 3px rgba($color: #000000, $alpha: 1);